@using Hackathon_Team5_19_21.Data
@inject ApplicationDbContext db
<select class="form-control" @onchange="(e)=>OnChange(e)">
    <option></option>
    @if (ItemsSource.Count() > 0)
    {
        @foreach (var item in ItemsSource)
        {
            if (Type == TipoSelect.Corso)
            {
                @if (SelectedId != null && SelectedId == ((Corso)item).Id)
                {
                    <option selected value="@(((Corso)item).Id)">@(((Corso)item).Nome) @(((Corso)item).AnnoInizio) - @(((Corso)item).AnnoFine)</option>
                }
                else
                {
                    <option value="@(((Corso)item).Id)">@(((Corso)item).Nome) @(((Corso)item).AnnoInizio) - @(((Corso)item).AnnoFine)</option>
                }
            }
            else if (Type == TipoSelect.Docente)
            {
                @if (SelectedId != null && SelectedId == ((PersonaFitstic)item).Id)
                {
                    <option selected value="@(((PersonaFitstic)item).Id)">@(((PersonaFitstic)item).Nome) @(((PersonaFitstic)item).Cognome) Nato il @(((PersonaFitstic)item).DataNascita.ToShortDateString()) e Assunto il @(((PersonaFitstic)item).DataAssunzione.ToShortDateString())</option>
                }
                else
                {
                    <option selected value="@(((PersonaFitstic)item).Id)">@(((PersonaFitstic)item).Nome) @(((PersonaFitstic)item).Cognome) Nato il @(((PersonaFitstic)item).DataNascita.ToShortDateString()) e Assunto il @(((PersonaFitstic)item).DataAssunzione.ToShortDateString())</option>
                }
            }
        }
    }
</select>

@code {
    public enum TipoSelect { Corso, Docente, Tutor }
    [Parameter]
    public List<object> ItemsSource { get; set; }
    [Parameter]
    public TipoSelect Type { get; set; }
    [Parameter]
    public int? SelectedId { get; set; }
    [Parameter]
    public object BindingObject { get; set; }

    public void OnChange(ChangeEventArgs e)
    {
        if (Type == TipoSelect.Corso)
        {
            int id;
            if (int.TryParse(e.Value.ToString(), out id)) ((Corso)BindingObject).Id = id;
        }
    }


}
